.dark {
  color: white;
  background-color: #333;
  transition: 300ms ease-in;
  min-height: 100vh;
}

.light {
  color: black;
  background-color: white;
  transition: 300ms ease-in;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.form-check-input {
  cursor: pointer;
}
